* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Alpino', sans-serif;
}
/* color fondo #0C4A6E;*/
 
.container {
    position: fixed; /* Fijo en la ventana del navegador */
    top: 0;
    left: 0;
    width: 100vw; /* Ajusta el ancho según tus necesidades */
    height: 100vh; /* Altura fija para permitir el scroll */
    background-color: white; 
    overflow-y: scroll; /* Permite el scroll vertical */
    z-index: 10; /* Asegúrate de que esté encima de otros elementos */
    padding: 10px; /* Espaciado interno */
    border-radius: 3rem;
    border: 1px solid;
    margin: 2rem;
 
}

.container {
    scrollbar-width: none; 
}


.container::-webkit-scrollbar {
    display: none; 
}
/*-----------------header-----------------------*/

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0;

    
}
.header-text {
    font-size: 4rem;
    line-height: 0.74;
    margin: 1.5rem 0 0 1.5rem ;
    padding: 0;
    
    
}
.header-btns {
    
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    
    

    
}
.works-btn {
    border: 1px solid #0C4A6E;
    border-radius: 1.5rem;
    padding: 0.1rem 1.5rem ;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: background-color 0.6s ease
}
.about-btn {
    border: 1px solid #0C4A6E;
    padding: 0.1rem 1.5rem;
    border-radius: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: background-color 0.6s ease
}
a:hover {
    background-color: #0C4A6E;
    color: white;
    border: 1px solid #0C4A6E;
}

/*-----------project----------*/
.name {
    font-size: 3rem;
}
.timeline{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.project-box {
   
    border: 0.1rem solid #0C4A6E;
    width: 20rem;
    height: 20rem;
}