* {
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;  
    font-family: 'Alpino', sans-serif;
}

h1 {font-size: 10rem;}
h2 {font-size: 8rem;}
h3 {font-size: 6rem;}
h4 {font-size: 4rem;}
h5 {font-size: 2rem;}
h6 {font-size: 1rem;}

.lastName {
    font-size: 5rem;
}